.breed {
    display: flex;
    flex-direction: column;
     &__image {
        margin: 20px 0 50px;
        position: relative;
        padding: 0 0 55% 0;
        img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 20px;
        };
    }
    &__description {
        border: 2px solid #FBE0DC;
        border-radius: 20px;
        padding: 75px 40px 40px;
        display: flex;
        justify-content: space-around;
        position: relative;
    }
    &__name {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 5px 40px;
        font-weight: 500;
        font-size: 36px;
        line-height: 52px;
        color: #1D1D1D;
        z-index: 1;
        background-color: #fff;
        white-space: nowrap;
    }
    &__temperament {
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        text-align: left;
        max-width: 220px;
        color: #8C8C8C;
    }
    &__info {
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        color: #8C8C8C;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-left: 20px;
    }
   .bold {
        font-weight: 700;
        color: #1D1D1D;
    }
}


@media(max-width:576px) {
    .breed__description {
        flex-direction: column;
        gap: 10px;
        padding: 45px 20px 20px;
    }
    .breed__temperament {
        flex: 1 1 100%;
        max-width: none;
    }
    .breed__info {
        flex: 1 1 100%;
        margin-left: 0;
    }
    .breed__name {
        font-size: 22px;
        padding: 5px 20px;
    }
}