.breeds-nav {
    display: flex;
    gap: 10px;
    align-items: center;
    &__select {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #8C8C8C;
        min-width: 226px;
        padding: 10px 8px;
        border-radius: 10px;
        &_limit {
            min-width: 101px;
        }
    }
    &__sort {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background: #F8F8F7;
        border-radius: 10px;
    }
    select {
        cursor: pointer;
    }
    
    margin-bottom: 20px;
}