.cat-list {
    display: grid;
    position: relative;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    background-color: #fff;
    justify-content: center;
    grid-template-areas:
    'item_1 item_2 item_3'
    'item_1 item_5 item_5'
    'item_4 item_5 item_5'
    'item_6 item_7 item_8'
    'item_10 item_10 item_8'
    'item_10 item_10 item_9'
    'item_11 item_12 item_13'
    'item_11 item_15 item_15'
    'item_14 item_15 item_15'
    'item_16 item_17 item_18'
    'item_20 item_20 item_18'
    'item_20 item_20 item_19';
 }
 $i:0;
@for $i from 1 through 20{
    .cat-list__item:nth-child(#{$i}){
        grid-area: item_#{$i};
    }
    $i:$i + 1;
}

.not-found {
    padding: 18px 20px;
    background: #F8F8F7;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8C8C8C;
}



